bin/swscale-4.dll filter=lfs diff=lfs merge=lfs -text
bin/obs.pdb filter=lfs diff=lfs merge=lfs -text
bin/libcurl.dll filter=lfs diff=lfs merge=lfs -text
bin/libobs-d3d11.dll filter=lfs diff=lfs merge=lfs -text
bin/libogg-0.dll filter=lfs diff=lfs merge=lfs -text
bin/libpng16-16.dll filter=lfs diff=lfs merge=lfs -text
bin/obsglad.dll filter=lfs diff=lfs merge=lfs -text
bin/avcodec-57.dll filter=lfs diff=lfs merge=lfs -text
bin/obs.dll filter=lfs diff=lfs merge=lfs -text
bin/swresample-2.dll filter=lfs diff=lfs merge=lfs -text
bin/zlib.dll filter=lfs diff=lfs merge=lfs -text
bin/avdevice-57.dll filter=lfs diff=lfs merge=lfs -text
bin/avutil-55.dll filter=lfs diff=lfs merge=lfs -text
bin/libopus-0.dll filter=lfs diff=lfs merge=lfs -text
bin/libvorbisfile-3.dll filter=lfs diff=lfs merge=lfs -text
bin/libvpx-1.dll filter=lfs diff=lfs merge=lfs -text
bin/w32-pthreads.dll filter=lfs diff=lfs merge=lfs -text
bin/avfilter-6.dll filter=lfs diff=lfs merge=lfs -text
bin/avformat-57.dll filter=lfs diff=lfs merge=lfs -text
bin/libvorbis-0.dll filter=lfs diff=lfs merge=lfs -text
bin/libvorbisenc-2.dll filter=lfs diff=lfs merge=lfs -text
bin/libx264-148.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/image-source.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-ffmpeg.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/win-capture.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-text.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/image-source.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-text.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-x264.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-outputs.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/win-mf.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-filters.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-transitions.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/win-dshow.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/text-freetype2.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-ffmpeg.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/rtmp-services.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-qsv11.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/rtmp-services.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/text-freetype2.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/win-capture.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-filters.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-qsv11.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/win-dshow.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/win-wasapi.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-transitions.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-outputs.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/win-wasapi.pdb filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/obs-x264.dll filter=lfs diff=lfs merge=lfs -text
bin/obs-plugins/win-mf.pdb filter=lfs diff=lfs merge=lfs -text
